
# directories (by name)

.classpath

/.idea/
/.svn/
/.vs/

/__pycache__/

/_analyses/
/_build/
/_internal/

/bin/
/dox/
/include/
/lib/
/node_modules/
/zips/


# directories (by pattern)


# sistools project directories

/chomp*/
/lnunique*/
/lslocales*/
/lstrip*/
/mksock*/
/ReadDebugString*/
/realpath*/
/rstrip*/
/sistools-common-c*/
/WriteDebugString*/


# files (by name)

.DS_Store
.ruby-version
.svnignore
.svnignore-at-root
.update_deps

list_changes.cmd
logging-bailout.txt
prepare.cmd
sh.exe.stackdump
update_deps.cmd

build/makefile.tmpl
build/makefile.tools.xml

rstrip
rstrip_test


# files (by pattern)

*~
*.???_obj
*.*~
*.a
*.app
*.aps
*.b64
*.bak
*.chm
*.class
*.csproj*user
*.d
*.diff
*.dll
*.dylib
*.exe
*.gch
*.gem
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.la
*.lai
*.lib
*.lo
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.org
*.out
*.pch
*.pdb
*.pyc
*.rar
*.res
*.sbr
*.scc
*.sdf
*.slo
*.so
*.suo
*.sw[ponm]
*.swp
*.test
*.tlog
*.tmp
*.unsuccessfulbuild
*.vcproj*user
*.vcxproj*user
*.xcuserstate
*.zip

*.csproj*user
*.vcproj*user
*.vcxproj*user

RCa0*
RCb0*

npm-debug.log*
yarn-debug.log*
yarn-error.log*


